<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593099212748-j7attf2rhsr5ekoavdr6gf6hedusjtn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593099212748-j7attf2rhsr5ekoavdr6gf6hedusjtn9</string>
	<key>API_KEY</key>
	<string>AIzaSyATtmYjbV9W6TCKjtooHHqml3B3OwwZRvM</string>
	<key>GCM_SENDER_ID</key>
	<string>593099212748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upstart13.Geofence</string>
	<key>PROJECT_ID</key>
	<string>geofence-eb155</string>
	<key>STORAGE_BUCKET</key>
	<string>geofence-eb155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593099212748:ios:4b2d339f65a18054eb7f69</string>
</dict>
</plist>